footer.flex.footer
  .footer__div
    .flex
      img.footer__logo(src='./img/star.svg')
      h2.text--h2.footer__title.ma--side Allie eve knox
    div
      ul
        li.footer__list
          a(href='#') Privacy Policy
        li.footer__list
          a(href='#') Terms of Service
  .footer__div
    h4.text--h2.footer__title Follow Me
    div
      a.footer__link(href='#')
        img.footer__img(src='./img/facebook.svg' alt='social-icons')
      a.footer__link(href='#')
        img.footer__img(src='./img/instagram-alt.svg' alt='social-icons')
      a.footer__link(href='#')
        img.footer__img(src='./img/twitter.svg' alt='social-icons')
      a.footer__link(href='#')
        img.footer__img(src='./img/google.svg' alt='social-icons')

