nav.nav
  .nav__col
    img.nav__logo(src='./img/star.svg' alt='Logo')
    a(href='/src/index.html')
      h1.nav__title Allie eve knox
  .nav__col
    ul.nav__list
      li.item
        a.text-base--2(href='#collection') collection
    div
      button#btn-login.btn.btn--primary.text-base--1
        | Connect Wallet
