doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='./img/square.svg' type='image/x-icon')
  link(rel='stylesheet' href='./css/index.css')
  script(type='module' src='./js/bundle.js')
  title Allie eve knox

include _navBar.pug

section.hero
  .hero__col-1
    div
      h1.hero__heading.ma--bottom This is Allie eve knox.
      h3.hero__sub-heading.text--h2.ma--bottom
        | This is my own marketplace where you can buy NFT to view my content
        | on go with NFT.
      .ma--top-side
        a(href='#collection')
          button.btn.btn--1x.text-base--1.hero__btn Unlock Your Content
  .col
    .collection
      // Left side
      .collection__left
        .right
          img.collection__nft.ma--bottom(src='https://pbs.twimg.com/media/FhiBna1WQAE4Jah?format=jpg&name=small' alt='NFT image')
          h2.collection__name.ma--bottom My Birthday celebration
          p.collection__description.ma--bottom.text-base--1
            | This collection is full of me on my Birthday.
          span.collection__price.text--h2.ma--bottom
            | 32
            img.collection__price--img(src='https://cryptologos.cc/logos/near-protocol-near-logo.svg?v=023' alt='NEAR')
        .left
          button#btn-unlock.btn.collection__btn(data-nftid='loyalticket.mintspace2.testnet:8c81bb5b7c8fe197865be325f614770c') Unlock Collection

section.section.section-collection.ma--bottom-lg
  a(name='collection')
  h2.section__title.ma--bottom.text--h1.ma--top-lg Collections
  h2.text--h2.ma--bottom-lg Buy NFT To Unlock Each Of My Content
  .flex
    each collection in collections
      // collections components
      .collection
        // Left side
        .collection__left
          .right
            img.collection__nft.ma--bottom(src=`${collection.nftImage}` alt='NFT image')
            h2.collection__name.ma--bottom= collection.name
            p.collection__description.ma--bottom.text-base--1= collection.description
            span.collection__price.text--h2.ma--bottom
              = collection.price
              img.collection__price--img(src='https://cryptologos.cc/logos/near-protocol-near-logo.svg?v=023' alt='NEAR')
          .left
            button#btn-unlock-collection.btn.collection__btn(data-nftid=`${collection.metadata_id}`) Unlock Collection

section.section-how-it-works.section.text--center
  .container
    h2.text--h2.ma--bottom How it works
    h1.HIW.text--h1 Mint, Watch and Sell.
  .container.flex
    div
      img.HIW__img(src='./img/master-card.svg' alt='')
      h3.HIW__text Buy NFT
    div
      img.HIW__img(src='./img/unlock-alt.svg' alt='')
      h3.HIW__text Unlock Content
    div
      img.HIW__img(src='./img/image-v.svg' alt='')
      h3.HIW__text Watch
    div
      img.HIW__img(src='./img/process.svg' alt='')
      h3.HIW__text Resell NFT
include _footer.pug
